data/code-15
data/dataRoot
data/not_normal_ecg
data/rough
data/vit-data
data/12-lead
weights/
.vscode/
automatic-ecg-diagnosis/data
automatic-ecg-diagnosis/dnn_predicts
automatic-ecg-diagnosis/outputs
rough/
Transformers/checkpoint
*.hdf5
*.csv